.cart{
    min-height: 90vh;
}

.cart h1{
    color: tan;

    text-align: center;
}

.cart h3{
    color:rgb(221, 209, 214);
    text-align: center;
}

.cart .prod-list{
    max-width:750 ;
    color: white;
    margin:10px;
    padding: 1px;
    text-align: center;
}
.cart data{
    text-align: center;
}
.footer{
    text-align: center;
}