.footer{
    color: rgb(80, 80, 80); 
    display: flex;
    text-align: justify;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
}

