/* dataService.css continued... */
.product {
    position: relative;
    width: 500px; 
    height: 400px;
    margin:auto;
    border: 1px solid #ddd;
    overflow:auto;
    background-size: cover;
    background-position: center;
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(0 0 0 / 38%);
}
.product h5 {
    white-space: nowrap;
}

.product img {
    width: 100%;      
    height: 200px;    
    object-fit: contain; 
    /* padding: 41px; */
}

.product-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    text-align: center;
}

.product-title {
    font-weight: bold;
    margin: 0;
    font-size: 16px;
    color:#ddd;
}

.product-price {
    margin: 10px 0;
   border-radius: 100%;
    color: white; 
}
.prices span{
    margin: 10px;
}
.quantity-picker {
    display: flex;
    justify-content: center;
}

.product-add {
    display: inline-block;
    margin-right: 10px;
}
