.product{
    display: inline-bloacl;
    border: 1px solid white;
    width: 240px;
    height: 320px;
    margin: 5px 7px;
    border: radius 5px;

}
.product :hover{
    border-color: tan;
}
.prodduct img{
    width:220px;
    height: 190px;

}
.product .prices{
    display: flex;

}
.product .prices label { 
    flex: 1;

}